<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
</head>

<body>
  <div class="wrap">
    <main>
      <ul id="list">
        <li><a href="#" class="item">菜单一</a></li>
        <li><a href="#" class="item">菜单二</a></li>
        <li><a href="#" class="item">菜单三</a></li>
        <li><a href="#" class="item">菜单四</a></li>
        <li><a href="#" class="item">菜单五</a></li>
      </ul>
    </main>
  </div>
</body>

</html>